* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.header {
  background-image: url(./Images/header-background.jpg);
  position: relative;
  overflow-x: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 8rem;
}
nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  /* position: fixed;
    top: 0;
    background-color: rgba(235, 77, 85, 0.8);
    width: 100%; */
  /* left: 0; */
}
nav .logo{
  padding-right: 1rem;
}
.nav-link {
  display: flex;
  gap: 2rem;
  list-style: none;
  color: white;
}
.nav-link a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.nav-link a:hover {
  color: #ffc05a;
}
.nav-link li a i {
  font-size: 24px;
}
.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 1200px;
}
.header-text-1 {
  flex: 1;
  padding: 2rem;
}
.header-text-1 h1 {
  font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #fff;
}
.header-text-1 p {
  font-size: 1.2rem;
  margin: 0 auto;
  /* padding: 0 4rem; */
  padding-right: 4rem;
  color: #fff;
  margin-bottom: 32px;
}
.header-text-1 .btn {
  background-color: #ffc05a;
  display: inline-block;
  padding: 1.3rem 2.3rem;
  border: 1px solid #ffc05a;
  border-radius: 32px;
  color: #333;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.header-text-1 .btn:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #fc5d66;
}
.header-text-2 img{
  width: 100%;
  max-width: 100%;
}
.frame-decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.header-text-2 {
  flex: 1;
}
.main-text-1{
  max-width: 1200px;
  margin: 0 auto;
}
.main-subText-1 {
  margin: 0 auto;
  max-width: 750px;
  text-align: center;
}
.main-subText-1 .heading-border {
  width: 64px;
  height: 4px;
  background-color: #fc5d66;
  margin: 0 auto 2rem;
}
.main-subText-1 p {
  font-size: 1.3rem;
}
.main-subText-2 {
  text-align: start;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  padding: 4rem 0;
}
.main-gallery-1 {
  width: calc(25% - 20px);
}
.main-gallery-1 img {
  width: 100%;
  transition: all 0.3s;
}
.main-gallery-1 img:hover{
  scale: 1.1;
}
.main-Text-2 {
  margin: 0 auto;
  max-width: 750px;
  text-align: center;
  margin: 0 auto 2rem;
}
.main-Text-2 p {
  font-size: 1.3rem;
  color: #272d35;
}
.main-Text-2 .heading-border {
  width: 64px;
  height: 4px;
  background-color: #fc5d66;
  margin: 0 auto 2rem;
}
.main-subText-3 {
  display: flex;
  text-align: center;
  /* flex-wrap: wrap; */
  gap: 2rem;
  /* padding: 0 5%; */
  max-width: 1200px;
  margin: 5rem auto;
}
.main-subText-3 .card {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
  width: calc(33.3% - 20px);
  padding: 2rem;
}
.main-subText-3 .card img {
  width: 130px;
  margin-top: 2rem;
}
.main-subText-3 .card h3 {
  font-size: 1.25rem;
  margin: 1rem 0;
}
.course-summary {
  background-color: #f9fafb;
  /* margin: 5rem 0; */
  width: 100%;
  padding: 2rem 0;
}
/* .course-head{
/* margin: 4rem 0; */

/* } */
.course-head h1 {
  padding-top: 4rem;
  text-align: center;
}

.course-head .heading-border {
  width: 64px;
  height: 4px;
  background-color: #fc5d66;
  margin: 0 auto 2rem;
}
.list-header {
  background-color: #fc5d66;
  color: #fff;
  padding: 8px 16px;
  margin: 16px 0;
  font-size: 1.2rem;
  font-weight: 700;
}
.course-obj {
  margin: 4rem auto;
  max-width: 1200px;
  padding: 32px;
  background-color: #fff;
}
.course-obj .list-item p {
  padding: 1.4rem 0;
  color: #272d35;
}
.list-item .list-item-1 {
  border-top: 1px solid #f1f4f6;
  border-bottom: 1px solid #f1f4f6;
}
.course-for {
  display: flex;
  max-width: 100%;
  width: 100%;
  /* padding: 5rem 0; */
}
.course-for-1 {
  flex: 1;
  width: 50%;
  height: auto;
  background-image: url(./Images/audience.jpg);
}
.course-for-2 {
  flex: 1;
  width: 50%;
  background-color: #fc5d66;
  color: #fff;
  padding: 4rem;
}
.course-for-2 h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.course-for-2 p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.course-for-2 ul {
  list-style: none;
  align-self: center;
  line-height: 2;
}
.course-for-2 ul li {
  font-size: 1.2rem;
}
.course-for-2 ul li i {
  font-size: 1.5rem;
  color: #ffc05a;
  margin-right: 0.5rem;
  font-weight: 700;
}
.takeaways{
  max-width: 1200px;
  margin: 0 auto;
}
.takeaways-1{
  max-width: 750px;
  margin: 0 auto;
}
.takeaways-1 h1{
    padding-top: 4rem;
    text-align: center;
  }
  
  .takeaways-1 .heading-border {
    width: 64px;
    height: 4px;
    background-color: #fc5d66;
    margin: 0 auto 2rem;
  }
.takeaways-1 p{
  font-size: 1.3rem;
  color: #272d35;
}
.takeaway-card{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 5rem auto;

}
.takeaway-card-1{
  display: flex;
  width: calc(33.3% - 2rem);
  text-align: left;
  padding: 2rem 1.75rem;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
}
.takeaway-card .takeaway-card-1 i{
  margin-right: 1rem;
  align-self: center;
  color: #fc5d66;
}
.course{
  display: flex;
  margin-bottom: 4rem;
}
.course-1{
  flex: 1;
}
.course-1 img{
  width: 100%;
  max-width: 500px;
}
.course-2{
  flex: 1;
  justify-content: center;
  align-content: center;
}
.course-2 h1{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.course-2 p{
  margin: 1rem 0 2rem;
}
.course-2 .heading-border{
  width: 64px;
  height: 4px;
  background-color: #fc5d66;
  margin: 0 0 2rem;
}
.course-2 .btn{
  padding: 1.3rem 2.3rem;
  border: 1px solid #ffc05a;
  background-color: #ffc05a;
  border-radius: 32px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  transition: all 0.2s;
}
.course-2 .btn:hover{
  background-color: #fc5d66;
  border: 1px solid #fc5d66;
  color: #fff;
}
.author{
  display: flex;
  justify-content:space-between;
  margin-bottom: 4rem;

}
.author-1{
  flex: 1;
  /* align-items: center; */
  align-content: center;
}
.author-1 h1{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.author-1 p{
  margin: 1rem 0 2rem;
  max-width: 95%;
}
.author-1 .heading-border{
  width: 64px;
  height: 4px;
  background-color: #fc5d66;
  margin: 0 0 2rem;
}
.author-2{
  flex: 1;
}
.author-2 img{
  width: 100%;
  max-width: 500px;
}
.author-1 .btn{
  padding: 1.3rem 2.3rem;
  border: 1px solid #ffc05a;
  background-color: #ffc05a;
  border-radius: 32px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: 2rem;
  transition: all 0.2s;
}
.author-1 .btn:hover{
  background-color: #fc5d66;
  border: 1px solid #fc5d66;
  color: #fff;
}
.author-1 ul{
  list-style: none;
}
.author-1 ul li{
  line-height: 2;
}
.author-1 ul li i{
  color: #fc5d66;
}
.stats{
 background-image: url(./Images/stats-background.jpg);
 background-size: cover;
 
 margin: 4rem 0;
 

 /* width: 100%; */
}

.stats-container{
  display: flex;
  flex-wrap: wrap;
  /* width: 1200px; */
  flex-direction: row;
  padding: 2rem 10rem;
  /* justify-content: space-between; */
}
.stats-1{
  flex: 1;
}
.stats-2{
  flex: 1;
  align-content: center;
  max-width: 500px;
}
.stats-1 img{
  width: 100%;
  max-width: 500px;
}
.stats-data{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  justify-content: center;
}
.stats-data-1{
  text-align: center;
  color: #fff;
  margin: 2rem 0;
}
.stats-data-1 h3{
  font-size: 3rem;
  font-weight: 700;
}
.stats-data-1 p{
  font-size: 0.8rem;
}
.stats-data-2 p{
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
}
.stats-data-2 .btn{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 1.3rem 2.3rem;
  border-radius: 32px;
  background-color: #ffc05a;
  border: 1px solid #ffc05a;
  transition: all 0.2s;
}
.stats-data-2 .btn:hover{
  border: 1px solid #fff;
  color: #fff;
  background-color: #fc5d66;
}
.subscribe{
  background-color: #f1f4f6;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
  margin-bottom: 4rem;
  text-align: center;
}
.subscribe h2{
  font-size: 2rem;
  font-weight: 700;
}
.subscribe p{
  max-width: 600px;
  margin: 0 auto;
}
.subscribe input[type = 'email']{
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: 32px;
  width: 100%;
  max-width: 400px;
}
.subscribe .btn{
  padding: 1.3rem 2.3rem;
  border: 1px solid #ffc05a;
  background-color: #ffc05a;
  border-radius: 32px;
  font-family: 'Open Sans', sans-serif;
  /* font-size: 16px; */
  margin-top: 1rem;
  transition: all 0.2s;
}
.subscribe .btn:hover{
  background-color: #fc5d66;
  border: 1px solid #fc5d66;
  color: #fff;
}
footer{
  background-color: #272d35;
  
}
.footer-1 p{
  color: #fff;
  font-size: 1.75rem;
  margin-bottom: 2rem;
  text-align: center;
}
.footer-1{
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 2rem 2rem;
  align-items: center;
}
.footer-1 ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #fff;
  list-style: none;
  margin-bottom: 4rem;
}
.footer-1 ul li{
  cursor: pointer;
}
.footer-1 ul li:hover{
  color: #ffc05a;
}
.border-foot{
  border-top: 1px solid #414141;
}
.footer-2{
  max-width: 1200px;
  display: flex;
  padding: 2rem 2rem;
  margin: 0 auto;
  justify-content: space-between;
  color: #fff;
}
.footer-2 ul{
  display: flex;
  list-style: none;
  gap: 10px;
}
.footer-2 ul li{
  cursor: pointer;
}
.footer-2 ul li:hover{
  color: #ffc05a;
}
.contact-header{
  /* background-image: url(./Images/header-background.jpg); */
  position: relative;
  background-color: #fc5d66;
  height: 250px;
  /* padding-bottom: 8rem; */
}
.contact-inner-head{
 max-width: 1000px;
 padding: 0 2rem;
 margin: 0 auto;   
}
.contact-inner-head h1{
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 3rem;
  /* padding-top: 8rem; */
 /* text-align: left; */
  color: #fff;
  margin-bottom: 1rem;
}
.contact-main{
  max-width: 1000px;
  margin: 4rem auto;
  padding: 0 2rem;
}
.contact-main p{
  margin-bottom: 3rem;
}
.contact-form{
  margin-bottom: 4rem;
}

.contact-form input,.contact-form textarea{
  width: 100%;
  margin: 1.5rem 0;
  padding: 1.2rem 1rem;
  border: 1px solid #ccc;
  font-size: medium;
  font-family: inherit;
}
.contact-form textarea{
  height: 200px;
}
.contact-form .btn{
  padding: 1.3rem 2.3rem;
  border: 1px solid #ffc05a;
  border-radius: 32px;
  width: 100%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffc05a;
  cursor: pointer;
  transition: all 0.2s;
}
.contact-form .btn:hover{
  background-color: #fc5d66;
  color: #fff;
}
.contact-location{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}
.contact-location-1 h1{
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700px;
}
.contact-location-1 p{
  margin-bottom: 2rem;
}
.map{
  width: 100%;
  height: 100%;
}
.contact-location .map{
  overflow: hidden;
  position: relative;
  height: 0;
  margin-bottom: 3rem;
  padding-bottom: 50%;
  border-radius: 0.25rem;
}
.contact-location .map iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
@media all and (max-width: 1200px){
  .header-text-1 h1{
    font-size: 3rem;
  }
  .main-text-1{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }
 .main-gallery-1{
  width: calc(31.3%);
  
 }
 .takeaways{
  padding: 0 3rem;
  margin: 0 auto;
 }
 .main-gallery-1 img{
  width: 100%;
 }
}
@media all and (max-width: 992px){
.header-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.header-text-1 p{
 line-height: 1.2;
 padding-left: 4rem;
}
.header-text-1 .btn{
  margin-bottom: 4rem;
}
.main-gallery-1{
  width: calc(45%);
  margin: 0 auto;
}
.main-subText-3{
  display: flex;
  flex-direction: column;
}
.main-subText-3 .card{
  width: 100%;
}
.takeaways{
  margin: 0 auto;
  padding: 0 2rem;
}
.takeaway-card{
  display: flex;
  flex-direction: column;
  
}
.takeaway-card-1{
  width: 100%;
  justify-content: center;
}
.course{
  display: flex;
  flex-direction: column;
}
.course-1{
  margin: 0 auto;
  margin-bottom: 2rem;
}
.course-2{
  padding: 0 3rem;
}
.author{
  display: flex;
  flex-direction: column-reverse;
}
.author-2{
  margin: 0 auto;
  margin-bottom: 2rem;
}
.author-1{
  padding: 0 3rem;
}
.stats-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

} 
@media all and (max-width: 769px){
  .course-for-1{
    display: none;
  }
  .nav-link{
    display: none;
  }
  .footer-2{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media all and (max-width: 668px){
  .nav-link{
    display: none;
  }
  .main-gallery-1{
    width: 100%;
    margin: 0 auto;
  }
  .course-for{
    display: flex;
    flex-direction: column;
  }
  .course-for-1{
    display: none;
  }
  .course-for-2{
    width: 100%;
  }
}
